{% extends 'common_code/base.html' %}
{%load static%}
{% block title %}FAQ{% endblock %}
{% block content %}
<h3>অ্যালামনাই অ্যাসোসিয়েশন সম্পর্কে আপনার জিজ্ঞাসা ও উত্তর</h3>
<div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            ১। উদ্দেশ্য ও লক্ষ্য
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">ক) অ্যালামনাই অ্যাসোসিয়েশন গঠনের উদ্দেশ্য- প্রাক্তন শিক্ষার্থীদের মধ্যে সৌহার্দ্য, একতা, ভ্রাতৃত্ববোধ, পারস্পরিক সহযোগিতা এবং এর মাধ্যমে সামাজিক স্বার্থ সুরক্ষায় কল্যাণমূলক কার্য অর্থাৎ প্রশিক্ষণ, কর্মসংস্থান, উদ্যোক্তা তৈরী ও সর্বতোভাবে কর্মক্ষেত্রে সহযোগিতা প্রদান;<br>
                খ) আর্থিকভাবে অসচ্ছল, বিশেষ চাহিদাসম্পন্ন ও মেধাবী শিক্ষার্থীদের সহায়তা এবং উচ্চ শিক্ষার জন্য পৃথক তহবিল গঠন;<br>
                গ) অ্যালামনাই এবং তাদের পরিবারের সদস্যদের নিয়ে সেমিনার, শিক্ষা-ভ্রমণ, মিলন-মেলা প্রভৃতি আয়োজন;<br>
                ঘ) গ্রন্থাগার, জাদুঘর, গবেষণাগার, ব্যায়ামাগার, সাংস্কৃতিক কেন্দ্র প্রভৃতি প্রতিষ্ঠা ও পরিচালন;<br>
                ঙ) নিয়মিত বুলেটিন, গবেষণা সাময়িকী ও বই-পত্র এবং অন্যান্য প্রকাশনার উদ্যোগ গ্রহণ;<br>
                চ) শিক্ষার মানোন্নয়নের লক্ষ্যে বিভিন্ন কর্মসূচী গ্রহণ;<br>
                ছ) উপরোক্ত লক্ষ্য ও উদ্দেশাবলী অর্জনে প্রয়োজনীয় সকল কার্যাবলী সম্পাদন করা।<br>
                </div>
        </div>
        </div>
        <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                ২। গঠন প্রক্রিয়া
            </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">ক)<br> i.  জাতীয় বিশ্ববিদ্যালয় কেন্দ্রিয়ভাবে এ অ্যালামনাই অ্যাসোসিয়েশন গঠন করবে।<br> 
                ii.  জাতীয় বিশ্ববিদ্যালয়ের অধিভুক্ত কলেজ ও অন্যান্য শিক্ষা প্রতিষ্ঠানের প্রাক্তন শিক্ষার্থীরাই হবে এই অ্যালামনাই অ্যাসোসিয়েশনের সদস্য।<br>
                iii. অ্যালামনাইয়ের জন্য একটি স্বতন্ত্র ওয়েবসাইট থাকবে। আগ্রহী প্রাক্তন শিক্ষার্থীরা ওয়েবসাইটে প্রাপ্ত অনলাইন ফরম পুরণ করে সদস্য পদ গ্রহণ করবে।<br> 
                এছাড়া, <br>
                খ) জাতীয় বিশ্ববিদ্যালয়ের অধিভুক্ত প্রতিটি কলেজ ও প্রতিষ্ঠানে স্বতন্ত্র অ্যালামনাই অ্যাসোসিয়েশন গঠিত হবে। স্ব স্ব কলেজের অধ্যক্ষ প্রাক্তন শিক্ষার্থীদের নিয়ে অ্যালামনাই অ্যাসোসিয়েশন গঠন করবেন। কলেজ ভিত্তিক গঠিত অ্যালামনাই অ্যাসোসিয়েশন বিভিন্ন কার্যক্রম পালন করবে।<br></div>
        </div>
        </div>
        <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                ৩। নামকরণ
            </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">ক) অত্র অ্যাসোসিয়েশনের নাম হবে- ‘জাতীয় বিশ্ববিদ্যালয় অ্যালামনাই অ্যাসোসিয়েশন’ National University Alumni Association (NUAA)।<br> 
                খ) জাতীয় বিশ্ববিদ্যালয়ের অধিভুক্ত কলেজ/প্রতিষ্ঠানসমূহ তাদের স্ব স্ব নামে অ্যালামনাই অ্যাসোসিয়েশন গঠন করবে।<br> </div>
        </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                ৪। সংজ্ঞা 
            </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">ক) ‘অ্যাসোসিয়েশন’ অর্থ জাতীয় বিশ্ববিদ্যালয় অ্যালামনাই অ্যাসোসিয়েশন।<br>
                খ) ‘অ্যালামনাই’ অর্থ জাতীয় বিশ্ববিদ্যালয়ের প্রাক্তন শিক্ষার্থীগণ যারা বিশ্ববিদ্যালয় হতে যেকোন ডিগ্রি অর্জন করেছে।<br></div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                ৫। কার্যালয়
            </button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">ক) বিশ্ববিদ্যালয় কর্তৃক নির্ধারিত স্থানে অ্যাসোসিয়েশনের কার্যালয় থাকবে। <br>
                খ) অধিভুক্ত কলেজ/প্রতিষ্ঠান স্ব স্ব উদ্যোগ ও ব্যবস্থাপনায় কলেজ ভিত্তিক অ্যালামনাই অ্যাসোসিয়েশনের কার্যালয় নির্ধারণ করবে।<br></div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                ৬। সদস্য
            </button>
            </h2>
            <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">অ্যাসোসিয়েশনে নিম্নোক্ত দুই ধরনের সদস্য থাকবেঃ<br>
                ক) সাধারণ সদস্য: জাতীয় বিশ্বিবিদ্যালয় হতে যে কোন কোর্স/প্রোগ্রামে ডিগ্রী অর্জনকারী প্রাক্তন শিক্ষার্থী ১,০০০/- (এক হাজার) টাকা ফি প্রদানপূর্বক অ্যালামনাই এর সাধারণ সদস্য হতে পারবে। <br>
                খ) আজীবন সদস্য: অ্যালামনাই অ্যাসোসিয়েশনের আজীবন সদস্য হওয়ার জন্য এককালীন ৫,০০০/- (পাঁচ হাজার) টাকা ফি প্রদান করতে হবে। ভবিষ্যতে এই ফি’র হ্রাস-বৃদ্ধি অ্যালামনাই অ্যাসোসিয়েশনের কার্যনির্বাহী কমিটি ও উপদেষ্টা পরিষদ নির্ধারণ করবে। <br>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}