<div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
        ৬। সদস্য
      </button>
    </h2>
    <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">অ্যাসোসিয়েশনে নিম্নোক্ত দুই ধরনের সদস্য থাকবেঃ<br>
        ক) সাধারণ সদস্য: জাতীয় বিশ্বিবিদ্যালয় হতে যে কোন কোর্স/প্রোগ্রামে ডিগ্রী অর্জনকারী প্রাক্তন শিক্ষার্থী ১,০০০/- (এক হাজার) টাকা ফি প্রদানপূর্বক অ্যালামনাই এর সাধারণ সদস্য হতে পারবে। <br>
        খ) আজীবন সদস্য: অ্যালামনাই অ্যাসোসিয়েশনের আজীবন সদস্য হওয়ার জন্য এককালীন ৫,০০০/- (পাঁচ হাজার) টাকা ফি প্রদান করতে হবে। ভবিষ্যতে এই ফি’র হ্রাস-বৃদ্ধি অ্যালামনাই অ্যাসোসিয়েশনের কার্যনির্বাহী কমিটি ও উপদেষ্টা পরিষদ নির্ধারণ করবে। <br>
        </div>
    </div>
</div>