{% extends 'common_code/base.html' %}
{% load static %}
{% block title %}Project Stage{% endblock %}
{% block extra_css %}

{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Project Stages</h2>
    <div class="row">
        <div class="col-12">
            <div class="progress">
                {% for stage in stages %}
                    {{ stage }}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="text-center mt-4">
        <a href="?stage=basic_info" class="btn btn-primary">Basic Info</a>
        <a href="?stage=educational_info" class="btn btn-primary">Educational Info</a>
        <a href="?stage=company_info" class="btn btn-primary">Company Info</a>
        <a href="?stage=payment_info" class="btn btn-primary">Payment Info</a>
    </div>
</div>
{% endblock %}
